/* General Styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  color: #333;
}

/* Container for the quiz list */
.quiz-list {
  margin: 20px auto;
  padding: 20px;
  max-width: 1200px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Centered Heading */
.centered-heading {
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

/* Error message styling */
.feedback-message {
  font-size: 1.2rem;
  color: #d9534f;
  margin-bottom: 20px;
  text-align: center;
}

/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

thead {
  background-color: #007bff;
  color: #fff;
}

th, td {
  padding: 10px 15px;
  text-align: left;
  border: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f1f1f1;
}

th {
  font-weight: bold;
}

ul {
  padding-left: 20px;
  margin: 0;
}

li {
  list-style-type: disc;
}

/* Button Styling */
button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}

button:hover {
  background-color: #0056b3;
}

/* Input Styling */
input[type="text"] {
  width: 80%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="text"]:focus {
  border-color: #007bff;
  outline: none;
}

/* Footer Container */
.footer-container {
  display: flex;
  justify-content: center; /* Centers the button horizontally */
  align-items: center; /* Centers vertically */
  margin-top: 40px;
  margin-bottom: 50px; /* Adds space between Back button and footer */
  padding: 20px;
  text-align: center;
}

/* Back Button */
.back-button {
  background-color: #433f40;
  color: white;
  font-size: 1rem;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


/* Responsive Design */
@media (max-width: 768px) {
  .quiz-list {
    padding: 10px;
  }

  table {
    font-size: 0.9rem;
  }

  input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
  }

  button {
    width: 100%;
  }
}
