<div class="enrollment-container animated fadeIn">
  <div *ngIf="enrollments.length > 0">
    <h2>Enrolled Courses</h2>
    <table>
      <thead>
        <tr>
          <th>Enrollment ID</th>
          <th>Course ID</th>
          <th>Title</th>
          <th>User ID</th>
          <th>Enrollment Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let enrollment of enrollments">
          <td>{{ enrollment.enrollmentID }}</td>
          <td>{{ enrollment.courseID }}</td>
          <td>{{ enrollment.title }}</td>
          <td>{{ enrollment.userID }}</td>
          <td>{{ enrollment.enrollmentDate | date }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="enrollments.length === 0 && !errorMessage">
    <p>No enrollments found.</p>
  </div>
  <div style="text-align: left; margin-top: 20px;">
    <button (click)="goBack()" style="background-color: grey;">Back</button>
  </div>
</div>
