<footer>
    <div class="footer-about">
      <p>About Us: We are dedicated to providing the best online learning experience. Our platform offers a wide range of courses to help you achieve your educational goals.</p>
    </div>
    
    <div class="footer-social">
      <a href="https://facebook.com" target="_blank">Facebook</a>
      <a href="https://twitter.com" target="_blank">Twitter</a>
      <a href="https://linkedin.com" target="_blank">LinkedIn</a>
      <a href="https://instagram.com" target="_blank">Instagram</a>
    </div>
  </footer>