<div class="update-course">
    <h2>Update Course</h2>
    <form (ngSubmit)="updateCourse()">
      <label for="title">Title:</label>
      <input id="title" [(ngModel)]="updateCourseData.title" name="title" required>
      
      <label for="description">Description:</label>
      <input id="description" [(ngModel)]="updateCourseData.description" name="description" required>
      
      <label for="syllabus">Syllabus:</label>
      <input id="syllabus" [(ngModel)]="updateCourseData.syllabus" name="syllabus" required>
      
      <label for="instructorID">Instructor ID:</label>
      <input id="instructorID" [(ngModel)]="updateCourseData.instructorID" name="instructorID" required>
      
      <label for="preRequisites">Prerequisites:</label>
      <input id="preRequisites" [(ngModel)]="updateCourseData.preRequisites" name="preRequisites" required>
      
      <button class="update-btn" type="submit">Update</button>
    </form>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </div>
  